.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.wrapper{
    width: 100%;
    margin: auto;
    padding: 0 20px;
    max-width: 67.5rem;
}

.brand-logos{
  padding:  0 0 3rem;
}

.brand-logos ul.grid-4{
  grid-gap:0px;
  display: grid;
  grid-template-columns: repeat(4,1fr);
}
.brand-logos ul.grid-4 a{
  position: relative;
  display: block;
  cursor: default;
  transition: all 0.2s ease-out;
}
.brand-logos img{
    opacity: 0.35;
    transition: all 0.2s ease-out;
}


.brand-logos ul.grid-4 p, .brand-logos ul.grid-4 a:hover ul{
  position: absolute;
  bottom: 3rem;
  padding: 0;
  left: 0;
  right: 0;
  text-align: center;
  opacity: 0;
  font-size: 1rem;
  transform: translateY(3rem);
  color: #7D7D7D;
  transition: all 0.2s ease-out;
}